.main{
  display:grid;
  height: 100vh;
  place-content: center;
  
}

.box-container{
  display:flex;
  justify-content:space-evenly;
  flex-direction: row;
  align-items:center;
  background-color: blue;
  height: 500px;
  width: 600px;
}

.box{
  background-color:red;
  height: 100px;
  width:200px;
  border: 1px solid white;
}