.main{
  display:grid;
  height: 100vh;
  place-content: center;
  background-color:#cecc;
  
}

.box-container{
  display:flex;
  justify-content:space-evenly;
  flex-direction: row;
  align-items:center;
  background-color: darkcyan;
  height: 500px;
  width: 600px;
}

.box{
  background-color:goldenrod;
  height: 150px;
  width:200px;
  border: 1px solid white;
}

nav{
  display:flex;
  margin: -8em auto;
}

.button{
  padding: 1px 15px;
  height:max-content;
  background-color:coral;
  border: 1px solid white;
}